.navbar{

    background: linear-gradient(90deg, rgba(185,136,0,1) 0%, rgba(253,29,29,1) 50%, rgba(47,43,36,1) 100%);
}




@media (max-width: 768px) {

    .navbar-menu {
      display: none;
    }
    .hidden {
      display: none;
    }

  }

  @media (max-width: 768px) {
      .navbar-menu-toggle {
      display: block;

    }
  }

.carousel-item.hidden {
    display: none;
}

/* GOOGLE font */

/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');*/
/**{*/
/*    font-family: 'Poppins', sans-serif;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    scroll-behavior: smooth;*/
/*    box-sizing: border-box;*/
/*}*/


@media (max-width: 768px){

    .test {
        width: auto;
    }

}

/*ICI COMMENCE LE STYLE CSS POUR LE BOTTOM MODAL DE LA PAGE RESERVATION COURS*/

.bodydrag{
    background: #E3F2FD;
}

.bottom-sheet {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    transition: 0.1s linear;
}

.bottom-sheet.show{
    opacity: 1;
    pointer-events: auto;
}

.bottom-sheet .sheet-overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: black;
}

.bottom-sheet .content{
    background: #fff;
    height: 50vh;
    max-height: 100vh;
    padding: 25px 30px;
    width: 100%;
    max-width: 1100px;
    border-radius:12px 12px 0 0;
    position: relative;
    transform: translateY(100%);
    transition: 0.3s ease;
}

.bottom-sheet.show .content{
    transform: translateY(0%);
}

.bottom-sheet.dragging .content{
    transition: none;
}

.bottom-sheet.fullscreen .content{
    border-radius: 0;
    overflow-y: hidden;
}

.bottom-sheet .header{
    display: flex;
    justify-content: center;
}

.bottom-sheet .drag-icon{
    cursor: grab;
    user-select: none;
    padding: 15px;
    margin-top: -15px;
}

.bottom-sheet .drag-icon span{
    height: 4px;
    width: 40px;
    display: block;
    background: #C7D0E1;
    border-radius:50px;
}

.bottom-sheet .bodydrag {
    overflow-y:auto;
    height: 100%;
    padding: 15px 0 40px;
    scrollbar-width: none;
}

.bottom-sheet .bodydrag::-webkit-scrollbar{
    width: 0;
}

.bottom-sheet .bodydrag h2{
    font-size: 1.8rem;
}
.bottom-sheet .bodydrag p{
    font-size: 1.05rem;
    margin-top: 20px;
}

/*ICI SE TERMINE LE STYLE CSS POUR LE BOTTOM MODAL DE LA PAGE RESERVATION COURS*/